@media only screen and (min-width: 400px) and (max-width: 450px) {
  body {
    background-color: #222;
    margin-top: 100px;
  }

  input {
    width: 70%;
  }

  #col-1,
  #col-2 {
    font-size: 10px;
    justify-content: space-between;
  }

  .humi-name {
    font-size: 14px;
    font-weight: 900;
  }

  .wind-name {
    font-size: 14px;
    margin-left: 3px;
    font-weight: 900;
  }
  .details {
    gap: 15px;
  }

  .col img {
    width: 30px;
    height: 30px;
  }
}

@media only screen and (min-width: 350px) and (max-width: 400px) {
  body {
    background-color: #222;
    margin-top: 15px;
  }

  .card {
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    margin: 10px auto 0;
    border-radius: 20px;
    padding: 20px 35px;
    text-align: center;
    opacity: 100%;
  }

  input {
    width: 70%;
  }

  #col-1,
  #col-2 {
    font-size: 10px;
    justify-content: space-between;
  }

  .humi-name {
    font-size: 14px;
    font-weight: 900;
  }

  .wind-name {
    font-size: 14px;
    margin-left: 3px;
    font-weight: 900;
  }
  .humidity {
    font-size: 15px;
  }
  .wind {
    font-size: 15px;

    width: 100%;
  }
  .wind-name {
    font-size: 15px;
  }
  .col img {
    width: 25px;
    height: 25px;
  }
  .details {
    gap: 20px;
  }
}
